<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
<h3>Kredi Limit Başvurusu</h3>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div class="form-group" >
    <label for="citizenNumber">
      Tc Kimlik:
    </label>
    <input id="citizenNumber"
           class="form-control"  maxlength="11" type="text" formControlName="citizenNumber" placeholder="Tc Kimlik"
    >
    <span *ngIf="checkoutForm.controls.citizenNumber.invalid" style="color: red">Lütfen geçerli bir kimlik numarası giriniz</span>
  </div>

  <div class="form-group">
    <label for="name">
      Ad
    </label>
    <input id="name" type="text" class="form-control" formControlName="name" placeholder="Ad">
    <span *ngIf="checkoutForm.controls.name.invalid" style="color: red">Lütfen geçerli bir ad giriniz</span>
  </div>
  <div class="form-group">
    <label for="lastName">
      Soyad
    </label>
    <input id="lastName" type="text" class="form-control" formControlName="lastName" placeholder="Soyad">
    <span *ngIf="checkoutForm.controls.lastName.invalid" style="color: red">Lütfen geçerli bir soyad giriniz</span>
  </div>
  <div class="form-group">
    <label for="monthlyIncome">
      Aylık Gelir
    </label>
    <input id="monthlyIncome" type="number" class="form-control" formControlName="monthlyIncome" placeholder="Aylık Gelir">

    <span *ngIf="checkoutForm.controls.monthlyIncome.invalid" style="color: red">Lütfen geçerli aylık gelir giriniz</span>
  </div>
  <div class="form-group">
    <label for="phone">
      Telefon
    </label>
    <input id="phone" type="text" class="form-control" formControlName="phone" placeholder="Telefon">
    <span *ngIf="checkoutForm.controls.phone.invalid" style="color: red">Lütfen geçerli bir telefon giriniz</span>
  </div>

  <button class="btn btn-success" type="submit" [disabled]="!checkoutForm.valid">Başvur</button>

</form>
  <br>
  <span *ngIf="items">
    <div class="alert alert-success" role="alert">
      {{message}}
</div>
  </span>
  <span *ngIf="items==false">
    <div class="alert alert-danger" role="alert">
   {{message}}
</div>
  </span>

</div>

<router-outlet></router-outlet>
